:root {
	--dark: #1c1d22;
	--light: #fcfcfd;
	--grey: #e5ece9;
	--main: #404e5c;
	--primary-accent: #f90093;
	--secondary-accent: #b6c454;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--dark);
	color: var(--light);
	width: 100%;
	height: auto;
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 10% 5%;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.app-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
