:root {
	--dark: #1c1d22;
	--light: #fcfcfd;
	--grey: #e5ece9;
	--main: #404e5c;
	--primary-accent: #f90093;
	--secondary-accent: #b6c454;
}

body {
	background-color: var(--dark);
	color: var(--light);
}
